html, body{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;

}

.container-fluid {
	background-color: #23415c;
	padding: 1% 0;
	font-size: 1.2em;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}
.nav-default .navbar-nav li a{
	color: #d5d5d5;
}
.navbar-default .navbar-nav li a :hover, .navbar-default .navbar-nav li a :active{
	color: #FFF;
}
#home{
	background: url(img/logoguara.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}.landing-text{
	color: #242424;
}
.padding{
	padding: 80px 0;
	background-color: #ffffff;
}
.padding img{
	width: 100%;
}
#fixed{
	background: url(img/planofundo.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	background-size: cover;
	width: 100%;
	position: relative;
}
footer.container-fluid{
	width: 100%;
	background-color: #242424;
	padding: 5% 5% 10% 5%;
	color: #FFF;
}
.fa{
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}
.fa :hover{
	color: #d5d5d5;
	text-decoration: none;
}
.icon{
	max-width: 200px;
}
.up-nav {
	background-color: #242424;
	padding: 1% 0;
	font-size: 1.2em;
}






